/* styles/ArticleList.module.css */

/* Container for badges */
.badgesContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Style for badge buttons using Bootstrap */
.badge {
  background-color: #020842; /* Background color for badges */
  color: #ffffff; /* Text color for badges */
  border: 2px solid #020842; /* Border color matching background */
  border-radius: 20px; /* Rounded corners for badges */
  padding: 8px 16px; /* Padding for badge */
  cursor: pointer;
  font-size: 14px;
  max-width: 200px; /* Max width for badge */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  white-space: nowrap; /* Prevent text wrapping */
  display: inline-block; /* Ensure correct alignment */
  transition: all 0.3s ease;
  font-weight: 500; /* Slightly bold text */
}

/* Hover effect for badge buttons */
.badge:hover {
  background-color: #003366; /* Darker background color on hover */
  border-color: #003366; /* Border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow effect */
}

/* Focus effect for badge buttons */
.badge:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 58, 113, 0.5); /* Outline for accessibility */
}

/* Container for geo selector and search input */
.controlsContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for geo selector */
.geoSelectContainer {
  flex: 1;
  margin-right: 10px;
}

/* Geo selector styling */
.geoSelect {
  width: 100%;
}

/* Style for search input */
.searchContainer {
  flex: 2;
}

/* Search input styling */
.searchInput {
  width: 100%;
}

/* Container for articles */
.articlesContainer {
  margin-top: 20px;
}

/* Style for article images */
.articleImage {
  width: 312px;
  height: 336px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Pagination controls styling */
.pagination {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* Style for pagination buttons */
.pagination button {
  background-color: #020842;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

/* Active page button styling */
.activePage {
  background-color: #003366;
}

/* Pagination button hover effect */
.pagination button:hover {
  background-color: #003366;
}

/* Style for dark buttons */
.btn-dark {
  background-color: #020842;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for dark buttons */
.btn-dark:hover {
  background-color: #003366;
}
